/* Styling for every page */
body{
    padding: 50px 10px;
    background-color: #3d405b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

main{
    background-color: #eee2df;
    border-radius: 30px;
    margin: 20px 20px;
    padding: 20px 20px;
}

footer{
    background-image: url(../images/background_pic.gif);
    color: white;
    padding: 20px 20px;
}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    border: 5px dotted #e07a5f;
    width: 100%;
    border-radius: 30px;
    transition: 5s;
}

img:hover
{
    border: 5px solid #81b29a;
    opacity: 0.5;
}

div:nth-child(even) img{
    border: 5px dotted #f2cc8f;
}




ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
    font-size: 30px;   
}

nav li{
    padding: 10px 15px;
   
    
}

nav a{
    text-decoration: none;
    color: #f2cc8f;
    font-family: 'Special Elite', cursive;
    margin: 10px 0px;
    
    
}

.active{
   
    text-decoration: underline;
    text-underline-offset: 10px; 
    color: #f4f1de;
    text-transform: uppercase;
}

.skip{
    position: absolute;
    left: -1000px;

}

.skip:focus{
    left: 0px;
}

.logo{
    color: #81b29a;
    font-family: arial, sans-serif;
    font-size: 40px ;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 80px;
    text-align: center;
}

/* Index page styling */

.index h2 {
    font-size: 23px;
    margin-top: 30px;
    color: #3d405b;
}

.index p{
    margin-bottom: 20px;
}

.intro{
    margin-top: 20px;
}

/* literature page styling */
.litcontainer{
    display:grid;
    grid-template-columns: 1;
    justify-content: center;
}

.litcontainer div{
    margin-top: 30px;
    padding: 0px 20px;
}

.litcontainer h2{
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3d405b;
}

.litcontainer h3{
    font-size:18px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3d405b;
}

.litcontainer li{
    font-size: medium;
    text-align: left;
    margin-bottom: 5px;
    list-style: circle;
}

/* History page styling */
.hiscontainer div{
    margin-top: 60px;
    padding: 0px 20px;
}

.hiscontainer p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hiscontainer h2{
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3d405b;
}


/* Dictionary page styling */
dl div
{
    margin: 20px 20px;
}

dl h2
{
    font-size: 23px;
    font-weight: bold;
    margin-top: 40px;
    color: #3d405b;
}

dl h3
{
    margin-top: 20px;
    font-weight: bold;
}




@media (prefers-reduced-motion: reduce) {
    img{
        transition: none;
    }
}


